html {
  font-size: 14px;
  overflow-y: auto;
}
body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navigation */
.navbar {
  border-bottom: 1px solid #ccc;
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar-brand img {
  opacity: 0.6;
  margin-left: 0.5rem;
  padding-top: 3px;
}

/* Map and Editor */

#editor {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: auto;
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 0;
  width: 45%;
}
#dataviewer {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border-left: 1px solid #ccc;
  height: auto;
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 45%;
  right: 0;
}

#editor.portrait {
  height: 25%;
  width: 100%;
  bottom: auto;
}
#dataviewer.portrait {
  width: 100%;
  padding: 0;
  top: calc(51px + 25%);
  left: 0;
  border-left: none;
  border-top: 1px solid #ccc;
}

#map {
  width: 100%;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGD4f+/ePSAFAYxAzn84D1lASUmJAaQSQwUAcxYRaXDVJ6QAAAAASUVORK5CYII=);
}
#data {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1001;
}
#dataviewer.fullscreen {
  position: absolute;
  /*top: 0 !important;*/
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
#editor.hidden {
  display: none;
}

.CodeMirror {
  height: 100%;
  line-height: 1.2em;
}
#editor .CodeMirror-scroll {
  height: 100%;
  overflow-x: auto;
}
#editor textarea {
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
}
.monospace {
  font-family: monospace;
}
#data .CodeMirror-scroll {
  height: 100%;
  overflow-x: auto;
}
.CodeMirror-gutter-text {
  color: #888;
}
.CodeMirror-gutter-text,
.CodeMirror-lines {
  padding: 20px 12px 12px;
}

/* Links */
a {
  font-weight: bold;
}
a.external::after {
  content: "\F35D";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #333;
  margin-left: 0.4em;
  font-size: 0.8em;
  line-height: 1em;
}
a.external {
  white-space: nowrap;
}

/* Modals */
.modal {
  z-index: 1001;
}
.modal-card-foot {
  justify-content: flex-end;
}
@media screen and (min-width: 1023px) {
  .modal-content,
  .modal-card {
    width: 894px;
  }
}

.leaflet-control-buttons .fas {
  font-size: 14px;
}
.leaflet-control-buttons a:hover {
  background-color: #ffffff;
  color: #777777;
}
.leaflet-control-buttons a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}
.leaflet-control-buttons a span {
  display: inline-block;
  vertical-align: middle;
}
.leaflet-control-buttons a.disabled span {
  opacity: 0.5;
  cursor: default;
}
.leaflet-container .leaflet-control-search {
  opacity: 0.8;
  margin-left: 6px;
  width: 32rem;
}
.leaflet-container .leaflet-control-search .input {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}
.leaflet-container .leaflet-control-zoom a,
.leaflet-container .leaflet-control-buttons a {
  opacity: 0.8;
}
.leaflet-container a:visited {
  color: #4b2f89;
}

.dialog {
  display: none;
}
.ui-autocomplete {
  max-width: 35em;
}
.ui-autocomplete a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  width: 100%;
}
.ui-combobox input.ui-autocomplete-input {
  background: white;
  width: calc(100% - 30px);
}
.ui-widget {
  font-size: 1em;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #ddd;
  border-color: #bbb;
  color: #454545;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #454545;
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAADwCAMAAADYSUr5AAABDlBMVEVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVUEec/kAAAAWnRSTlMAGf8QMwQIUL+CmS8iVXFAZmAaEzLMDSE8FkJISyAeWiMnMVMshTSHgMNqyM/GOEUcvLi+fKu1pYyqqK0fsin9AZ5RJO8KBgIDj6JilEqgr23fnEdjP29/kWiyI5UtAAAM80lEQVR4Aezb3XLzOgiFYXh8//e8T8MwQeNJ8yXd5T2zF8RiCfm3jWVZvoGUf7x+X+6AfLnEUZRkCZYf7EBQAsgoEFVNilpJ2gFafgkmP9eBoM1R2cEwg0GM6WDqh5ryXur4hxIGPZFD9vTrDbIe8e2QY4FtCsF5DU0dMAygdsCn6EM8d/AQkBzsJUsw+XeuApHIGiz3RmhZlmVZluVP3Anmd92Igbojh4IAg1/z+4CkZqSQn3wjld2AFlC3kM/9St2AHB8eg/yn9ZOnEQ9yIge/Zj8bCMS/AjD3rCzi+X1ATn4W9YMdMJDe+T4gT0sw5F4FlmVZlmVZ/gTiFcBLv++zBQTmHWdxxr3jw/AD5gOcM6DKekhN17SCvmkcjfPx53oMcjg4xslAoYp127GDWoIq3jo+0PWyY5CBuYJz+hCibAM1gBoOxg4yWzS3MCd/e8Xm9HkA5yPcKu+4xmFqQdz7RRwbuoA754CjKl7EV+eDWJZlWZZl6SQZL8EPDwCiMGhADMxqcm8A0WCOqsB5AOpnJVmlETk9QItIs4H9KPPxiRgLKDjPINQPi2TVpg4iRwOS4/hbyOQAY/2aaM5HKP485Ii5g4Dw1GB9jzgPQFefOoyInt/1nt9l9AEPBaLqCXnHAIwvJLSAs8ywCoie3pfAcIiYlkCSd5YAotKPbziJ6QU0mGYwCql/oTcbkIf3AWlegtGQ8xzNcnSMazgOmA2oAL/0RmRZlmVZFvFO0nxh1jMQPwhixhD+KknfQ471F9fcnjLT92q9YAb9VYBse0otqn4qFlOAsk8NYjKkhb+O6kArkYwoOodbbSEMMyY6ouaq6W80IOlFKTqYO0AUjLro0VqFY7AftCD1ESo6eD7jJgN6hhBTfjeg63jbpUAGGRVyeofZChJDAN2fgyFdf+OVFtnkvPP0aqh/WC+DQ3uf87Usy7Isy+V/dB2m32vqm7xWv4xPM39nokzxaAC44ubdXn5rB4Ty99iIy+XBII9Jl7g8bHP8lwPA91Sve1D0yxVqfISHyi4Rarpnn6PTdxkAYDCotHczoE+xkl/3JX0JfHsHtHhQDXrWAUCohgsZv+Uc0Ka3J7vC1c8BPb6v/++/CqAEUOMvMJhateTX3Qeccb3wGaLwXzvnwaa20YXRlzMTiVjrFWIDqTgxaZveeyW99/r//8gHLPfR6D4eHtnhw2V1th5U75urkRSLvRvJ1z8wMDAwMBABonpzX7HmPh2JEhiX2sP9ACgLV2BfidFPjmaZ+lVBpTaB6Fd/ApzIuxfj6g63gJXEaV2XbLFAoPRXSUzIXsw2kS1Np16I3jsrdHuT7HVRURRURfbfCg0ZZl0xYHKjLdoL1HUdLnCBjDsBJAlQbMB1gAUAmq4R7Nw6gEwAFBdgAVCcnT1AGsBsNhPKAgIv+QBOOgES1rDFAhlZIO0OdgOfb8h1ACXJDwkbA8wR3T2eAzBvAzh78OShTgAPP/ywyHSgc/eCC8DqfyQNAOgEMAr4iDYgg4c3ZDtgWiJRTtm5FCFK5gQgQLq6DbSHwKOPpofATEVRaCaDuPm4lQCs/quPPZIPYOReEKPRaDoaIYPFYpEfA5hOSyinaQBSGkAEYhLANYBr1+yFs4tB8MyVA/kAkA9ALoDH1SqT5ipQ5wLwG+SJLcjg+vXrUGQ7IE7LchrbAC48H8D1C9CWUcWDVbWkGnUCiEI7eHL7IQMofACFC4BOB0ys/kwALvCntriWK4pcB8TplkjGKYGSzjFZVdhZoGJHle0AC6D/IQDd7UEtHwCxuz13HcD9ysCV/qdB2x8moBailS9h0HfQa9LN+xdcAJZArcMRY7Ml6pbB6u8HALp1Tqg1MDAwMHBpePpp7SVAUB6QQPuJRO14BoBnTEsgvceecMHE3Z6d9HDjWVBKXWsPc5irS9M0af0xEszGBXBelcnNzgQmV9j71GYEkvqVJACTDZC/n6eqql5ugNSY1AQIWAYBJppAkPEcPOfqB5pFWz+0CeCfDse7eH79cUpav0piMr8gWzB6QS/qJSGDSqjquLo+L+aJq4Gmye0gwKT1CfiOU0kTaMyIAJFcAP52GL187ZVXH7tWJvVTKqpvAK/x+vrjjbRAoHL+VOqFispf+2Ia2BJuvL2nTZNxYMxpQxO05UpkS7ySC0ACKXFOeZOnSesnqncAektv653CXNeTDjBX6q4DGjrX+jUgAfWNt/cuW96VsVi4eweIEaQeAVgHPP7E+sPVb4C/Hw+EEFp/j/fXHx+Yj0iOcfMHnNt0O37XPJEJINDtCN3o3mnPKE9RagHUuQAiO1z9bnsugMQ/fPvh8cMffbzzKTtOerjVL8MdAuZOn3uu9U3vM94XgBxIIUgoA1j96VkQnkkDkHKHBPCUjD4uV7/Y0UkkyHjlk4k0+eQVC4DThrBneeSY4AdROrO5+v11gP/f3t5hJKOPN77+5DRohLTC+qrWXK3lOihHpbuQulYv7BrodjIwMDAwUEItowa4Ls+nMgT6f1IBVNoDoFsmsJK0IsjQObQJPMJnn33+OR8nu3O6qX+LpOVjvPwyjy0zz1uU7Cid+xfK3L8rVIzL8otOAvBfAmioVNGYAiut/NX4AnO+3PCVqViVVGrczY27O0UG7heCgb1OjBEhmwF1brYYSyu+4GABAA1gugK2X90GaAP4+ptPP/3ma1NRirqBRrkAOo+MoEgUtAHolPRtLECcTCAJ4NXpmnSDK1ZlNgCMXLlG55CiUppAWn+gG8CnG05M9S0whsY9QIE53eUpgGQGQoBSizYAbQNIWqVaLquqSgJYsVKJrygXQEZBylxur1z9kXQMeJ+TNXwro647yzPfH8AZcAZn5uEcKFkEbrz/kVdfnb665Fw7+IKVND5cAL4DvgPguW79jYxqtWUhc9cwhDCfzzsBdI75xZoP159081llx4DlcnMAIKPii7IcUx16DEjrX7UJEKEOSlgCLGSwOuU8SQBJZ8mwF+kG8NRTu0/XINkxoIzL5ZIl2dPg4c8Cz+k5wJRaXVaTybutUYs6tAnQ+WG/nogbnwZZGJkxgHIDS5QHDnod8Jyk5wi2rigHQBIHfBEU4FOb+v3LI9EJ4GSNvVBEYiQWutnrgDuHsx9+OEu0OQ2SwqfBjzn+ycnDMDAwMFCWifz4E8BPP+ry8DP8LOMXdvyiy8KjAI/af38ACeBHGTNmSvgVqOWodShmAMyO2QAhYC3wWxvAb33+9pVRU2fuheyFvDOLm7r9+o/YABLWAiTkrwQD+Pqh3v/gZuK/F7+bZx8FPeoIEALWAgD4fZgw8fWPZdRWf6YcQRMakMHvkn7vzDC7jQHU7KjzAVh/G/BiSKZZ/dkAQqdlKCQV5oALIDKbzYg6Em3B+QA8kNQPVv+BOuC4g2ANEAJWww9tAD/4DsivwKYfZAwwPQ5+0HsFg1eyg6CpG/8OdRaQ0NGYscOa7g/TP5QfA5D81HvnDwz++S3At38Of2FxYGBgYGDgKNR4PSaM6x7vkDgkV674+vF6TACLwAdg8YR0hnocNt/o5jcxZ3IxU/72toZaXUdeqXUswCLwASTxYDtUw7Y8P0MSgE3PBdBVMO8qxw0AJtkAYCwBO5XGgJ8hCcCmG2Qrzivinu0AUs8r9+4Y4MmPAffmWYAtd8ZZYLgOGBgYGBgYoNElJvwl/v4wSAZwHi5R/YzF3zVBRlV/C5UcZP7+QX+/Q1nxj/hbrJQQxvgE8D/jTfsdSeBF6e9aL7YtAKuFxhdu0BZSzItivv5g5/P2eXZzul5QYH7HETnXhnOidlQNLAKnmQCmG0bTkRU4YjTavIBNZ8ra0+lMsel3ZgdI1gHtuLCiW74pH19AvGm/MxnTSGoYywCVLEoXwD07CFbw4vmLUKUBiLqmWz66V6l+Bn6udBkZGBgYGLD3B/R1/xBVf/frO47n8e8P6Of+Mbr+7td3BO/Bjxj82MPdg5Q35359x/D9+PcHmEPqfwj0x85/ABAAP5iDd2Wm2/rd9uSdvdNnklLHO6CN98E/HE2LufTHHxLQc36bnnek/HTT1P1PpNT//fff1AFpCX0DsF/IOH9If7gdFvn5kS8oM78PoO/+CNjny239BwygkZpcAJmfuYL6uw+ofwcsdVE/hzsEmiazQz0dnOcDbKfu75C8w1JLegZgg5ryg5oNghvPDVJ4V2Z6ZpCUd/LTzfIOS/MeHPM05td3BO/B8S5k/PqO43mOfSnr13csHxgYGBgYGNgDFxzc7xooNtDf78EA2B8ABamD9gcgdHcFABTk3QeEJPY5GjpgGAMYzgKXloGBgYGBgYERultAaC9E4s3XP9Ldwkij/xzAiEz9l6IDXL3md2cHMLKPTAAY3XpR1+/dMSAa3fpHvn5Gl6MDrH4y9V+CDsjWf1nOApn6L+F1gNV/F48BB4BR+zUwcIfzP/8S/ZOlvFfuAAAAAElFTkSuQmCC);
}
.ui-autocomplete.ui-widget-content {
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

.crosshairs {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -8px;
  opacity: 0.6;
  z-index: 800; /* Order above Leaflet map panes: https://leafletjs.com/reference.html#map-pane */
}

.errorline {
  background: #ffe1e1 !important;
}

.cm-mustache {
  color: #d83;
}

.leaflet-popup-pane {
  opacity: 0.88;
}
.leaflet-popup-content-wrapper {
  border-radius: 3px;
}
.leaflet-popup-content {
  word-wrap: break-word;
}
.leaflet-popup-content p {
  margin: 0;
}
.leaflet-popup-content .title.is-4,
.leaflet-popup-content .subtitle.is-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ui-widget textarea {
  font-family: monospace;
}

.ui-front {
  z-index: 1011 !important;
}
.ui-front.ui-widget-overlay {
  z-index: 1001 !important;
}
.ui-autocomplete.ui-front {
  z-index: 1014 !important;
}
.ui-front.huge_data {
  z-index: 1040 !important;
}
body .ui-tooltip {
  opacity: 0.8;
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

/*free form search/query builder*/
#ffs-dialog-typo a {
  font-weight: normal;
}

#data_stats {
  text-align: right;
  margin: 0;
  padding: 0.1em 0.7em;
  font-size: 12px;
  line-height: 1.5;
  background-color: #eee;
  opacity: 0.8;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}
.stats {
  font-size: 12px;
  border-radius: 0;
  white-space: nowrap;
}
.stats.ui-tooltip {
  max-width: none;
}

.leaflet-dummy-none-marker {
  display: none;
}
.leaflet-popup-tip-container {
  opacity: 0.8;
}

.leaflet-tooltip.text-tooltip {
  padding: 2px 6px;
}

/* osm.org query sync */
#logout {
  display: none;
}
#save-dialog .osm,
#load-dialog .osm {
  display: none;
}

#export-dialog .format {
  margin-right: 0.5rem;
}
#export-dialog .field-body {
  flex-grow: 2;
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #fff;
  background-color: #e1e3e5;
  border: 1px solid #adb3b8;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}
